from godaddypy import Client

getip_url = "https://ip.useragentinfo.com/json"
api_key = 'Your API Key'
api_secret = 'Your API Secret'

# This is for windows which loves to disconnect my adsl sometimes
adsl_name = 'ADSL'
adsl_account = 'ACCOUNT'
adsl_password = 'PASSWORD'


# ip: from the upstream
# domain: your domain (example: baidu.com)
# name: your subdomain (example: www)
# record_type: the type of the record (example: A)
def do_task(client: Client, ip: str):
    client.update_record_ip(ip, 'domain.com', '@', 'A')
    client.update_record_ip(ip, 'domain.com', '*', 'A')
